* {
    background-color: rgb(218, 119, 37);
    color: #4a0f0f;
    font-family: Helvetica, sans-serif;
}

div.image, div.ingredients, .header, .recipe.description{
    text-align:center;
}



.story.description, .serving, .steps {
    margin-left:80px;
    margin-right:80px;

}

.header.intro, .header.subtag, .front{
    background-color:black;
}

.header.subtag {
    color: white;
}

.header.intro {
    font-weight: 800;
    color: #b5091d;
    font-size: 50px;
}
div.front{
    margin: -34px
}